<template>
    <div>

 <b-row>
           <b-col cols="12" class="text-center" ><h1>Aviso de Siniestro</h1> </b-col>
          </b-row>
          <b-row>
            <b-col cols=3>6.- Inspección de campo: </b-col>
            <b-col><b-form-textarea id="inspeccion" size="sm" placeholder="Inspeccion"></b-form-textarea></b-col>
          </b-row>
          <b-row>
            <b-col cols="2">7.- Necropcia: </b-col>
            <b-col cols="1"><ejs-radiobutton label='Si'></ejs-radiobutton></b-col>
            <b-col cols="1"><ejs-radiobutton label='No'></ejs-radiobutton></b-col>
            <b-col><b-form-textarea id="necropciaCual" size="sm" placeholder="Especificar"></b-form-textarea></b-col>
          </b-row>
          <b-row>
            <b-col cols="2">8.- Concluciones: </b-col>
             <b-col><b-form-textarea id="concluciones" size="sm" placeholder="Concluciones"></b-form-textarea></b-col>
          </b-row>
         <b-row>
            <b-col cols="2">9.-Causa de muerte: </b-col>
            <b-col><b-form-textarea id="causaMuerte" size="sm" placeholder="Causa de Muerte"></b-form-textarea></b-col>
          </b-row>
          <b-row>
            <b-col cols="3">10.- Documentos anexos: </b-col>
             <b-col><b-form-textarea id="documentosAnexos" size="sm" placeholder="Anexos"></b-form-textarea></b-col>
          </b-row>

    </div>
</template>

<script>
import Vue from "vue";
import { RadioButtonPlugin } from "@syncfusion/ej2-vue-buttons";
Vue.use(RadioButtonPlugin);
    export default {
        
    }
</script>

<style scoped>
@import "../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../node_modules/@syncfusion/ej2-vue-inputs/styles/material.css";
@import "../node_modules/@syncfusion/ej2-buttons/styles/material.css";

</style>