<template>
     <div>
          <b-row>
            <b-col cols="3" ><h6> &nbsp; &nbsp;  &nbsp;</h6>  </b-col>
            <b-col cols="3" ><h6 class="col align-self-end">ACTA DE AGRAVANTES</h6>  </b-col>
            <b-col cols="2"><ejs-checkbox label='1' :checked="true" :change="onChange"></ejs-checkbox></b-col>
        </b-row>
         <b-row>
            <b-col cols="2" class="col align-self-start">Requiere agravante  </b-col>
            <b-col cols="1"><ejs-radiobutton label='Si'></ejs-radiobutton></b-col>
            <b-col cols="1"><ejs-radiobutton label='No'></ejs-radiobutton></b-col>
            <b-col cols="3" ><h6>ACTA DE COMPROBACIÓN</h6>  </b-col>
            <b-col cols="2"><ejs-checkbox label='1' :checked="true" :change="onChange"></ejs-checkbox></b-col>
        </b-row>
          <b-row>
            <b-col cols="1" >Ejercicio: </b-col>
            <b-col cols="2"><input class="e-input" type="text" placeholder="Ejercicio" /></b-col>
            <b-col cols="2">Especie: </b-col>
            <b-col cols="2"><input class="e-input" type="text" placeholder="Especie" /></b-col>
            <b-col cols="1">Función: </b-col>
            <b-col cols="2"><input class="e-input" type="text" placeholder="Función" /></b-col>
        </b-row>
          <b-row>
            <b-col cols="1">UPP: </b-col>
            <b-col cols="2"><input class="e-input" type="text" placeholder="Aviso" /></b-col>
            <b-col cols="2">Constancia: </b-col>
            <b-col cols="2"><input class="e-input" type="text" placeholder="Constancia" /></b-col>
        </b-row>
        <b-row>
            <b-col cols="1">Aviso: </b-col>
            <b-col cols="2"><input class="e-input" type="text" placeholder="Aviso" /></b-col>
            <b-col cols="2">Fecha de Atencion: </b-col>
            <b-col cols="2"><input class="e-input" type="text" placeholder="Fecha de Atencion" /></b-col>
            <b-col cols="2">Hora de Atencion: </b-col>
            <b-col cols="2"><input class="e-input" type="text" placeholder="Hora de Atencion" /></b-col>
        </b-row>
        <b-row>
            <b-col cols="6" class="text-center"><h6> Nombre y domicilio del predio </h6> </b-col>
            <b-col cols="6" class="text-center"><h6> Producto </h6> </b-col>
        </b-row>
        <b-row>
            <b-col><b-form-textarea id="domicilioPredio" size="sm" placeholder="Nombre y Domicilio"></b-form-textarea></b-col>
            <b-col><b-form-textarea id="producto" size="sm" placeholder="Producto"></b-form-textarea></b-col>
        </b-row>
         <b-row>
            <b-col cols="4" class="text-center">Día en que se presentaron los agravantes  </b-col>
            <b-col cols="2"><input class="e-input" type="text" placeholder="Dia" /></b-col>
              <b-col cols="2" class="text-center"> Fecha y Hora</b-col>
            <b-col cols="2"><input class="e-input" type="text" placeholder="Fecha y Hora" /></b-col>
        </b-row>
     </div>
</template>

<script>
import Vue from "vue";
import { CheckBoxPlugin } from "@syncfusion/ej2-vue-buttons";
import { RadioButtonPlugin } from "@syncfusion/ej2-vue-buttons";
Vue.use(CheckBoxPlugin);
Vue.use(RadioButtonPlugin);

    export default Vue.extend({
    methods: {
    onChange: function(args) {
      var checkboxObj = args.event.target.ej2_instances[0];
      checkboxObj.label = "CheckBox: " + args.checked;
    }
    }
    })
  
</script>
<style scoped>
@import "../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../node_modules/@syncfusion/ej2-vue-inputs/styles/material.css";
@import "../node_modules/@syncfusion/ej2-buttons/styles/material.css";

</style>