<template>
    <div>
         <b-row>
           <b-col cols="12" class="text-center" ><h1>Aviso de Siniestro</h1> </b-col>
          </b-row>
          <b-row>
            <b-col cols="4">1.- Declaración del productor y anamnesis: </b-col>
            <b-col><b-form-textarea id="declaraion" size="sm" placeholder="Declaracion"></b-form-textarea></b-col>
          </b-row>
          <b-row>
            <b-col cols="2">2.- Tratamientos: </b-col>
            <b-col cols="1"><ejs-radiobutton label='Si'></ejs-radiobutton></b-col>
            <b-col cols="1"><ejs-radiobutton label='No'></ejs-radiobutton></b-col>
            <b-col><b-form-textarea id="tratamientos" size="sm" placeholder="Tratamientos"></b-form-textarea></b-col>
          </b-row>
          <b-row>
            <b-col cols="3">3.- Medicina preventiva: </b-col>
            <b-col cols="1"><ejs-radiobutton label='Si'></ejs-radiobutton></b-col>
            <b-col cols="1"><ejs-radiobutton label='No'></ejs-radiobutton></b-col>
             <b-col><b-form-textarea id="medicinaPreventiva" size="sm" placeholder="Medicina preventiva"></b-form-textarea></b-col>
          </b-row>
         <b-row>
            <b-col cols="4">4.-Alimentacion y disponibilidad de agua: </b-col>
            <b-col><b-form-textarea id="alimentacionAgua" size="sm" placeholder="Alimentacion y Agua"></b-form-textarea></b-col>
          </b-row>
          <b-row>
            <b-col cols="2">5.- Manejo: </b-col>
            <b-col cols="2"><ejs-radiobutton label='Extensivo'></ejs-radiobutton></b-col>
            <b-col cols="2"><ejs-radiobutton label='Semi-Extensivo'></ejs-radiobutton></b-col>
            <b-col cols="2"><ejs-radiobutton label='Intensivo'></ejs-radiobutton></b-col>
             <b-col><b-form-textarea id="manejo" size="sm" placeholder="Manejo"></b-form-textarea></b-col>
          </b-row>

    </div>
</template>

<script>
import Vue from "vue";
import { RadioButtonPlugin } from "@syncfusion/ej2-vue-buttons";
Vue.use(RadioButtonPlugin);
    export default {
        
    }
</script>

<style scoped>
@import "../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../node_modules/@syncfusion/ej2-vue-inputs/styles/material.css";
@import "../node_modules/@syncfusion/ej2-buttons/styles/material.css";

</style>