<template>
  <div>
 <b-row>
           <b-col cols="12" class="text-center" ><h1>Acta de Agravantes</h1> </b-col>
          </b-row>
          <b-row>
            <b-col cols=7>EL INTERESADO DECLARA QUE LAS CAUSAS QUE ORIGINARON LAS CIRCUNSTANCIAS AGRAVANTES SON: </b-col>
            <b-col><b-form-textarea id="inspeccion" size="sm" placeholder="Inspeccion"></b-form-textarea></b-col>
          </b-row>
          <b-row>
            <b-col cols="7">EL TÉCNICO DEL FONDO COMPROBÓ QUE LAS CAUSAS QUE ORIGINARON LAS CIRCUSNTANCIAS AGRAVANTES SON:  </b-col>
            <b-col><b-form-textarea id="necropciaCual" size="sm" placeholder="Especificar"></b-form-textarea></b-col>
          </b-row>
          <b-row>
            <b-col cols="7">EN RELACIÓN CON LAS MEDIDAS DE PREVENCIÓN DE RIESGOS, EL TÉCNICO DEL FONDO DICTÓ O COMPROBÓ LO SIGUIENTE: </b-col>
             <b-col><b-form-textarea id="concluciones" size="sm" placeholder="Concluciones"></b-form-textarea></b-col>
          </b-row>
         <b-row>
            <b-col cols="7">OBSERVACIONES: </b-col>
            <b-col><b-form-textarea id="causaMuerte" size="sm" placeholder="Causa de Muerte"></b-form-textarea></b-col>
          </b-row>
          <b-row>
            <b-col cols="4">NOMRE DEL  FIRMANTE: </b-col>
             <b-col><input class="e-input" type="text" placeholder="Nombre Firmante" /></b-col>
          </b-row>
          <b-row>
            <b-col cols="4">DÍA QUE SE PRACTICARÁ UNA NUEVA INSPECCIÓN: </b-col>
             <b-col><input class="e-input" type="text" placeholder="FECHA Y HORA " /></b-col>
          </b-row>
    </div>
</template>

<script>
    export default {
        
    }
</script>

<style  scoped>
@import "../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../node_modules/@syncfusion/ej2-vue-inputs/styles/material.css";
@import "../node_modules/@syncfusion/ej2-buttons/styles/material.css";

</style>