<template>
    <div>
          <b-row>
            <b-col cols="12" class="text-center" ><h1>Aviso de siniestro por daños</h1> </b-col>
          </b-row>
          <b-row>
            <b-col cols="3" class="text-center" >Nombre del Informante: </b-col>
            <b-col><input class="e-input" type="text" placeholder="Nombre Informante" /></b-col>
          </b-row>
           <b-row>
            <b-col cols="9"  ><h6>NOTA: LEÍDA EL ACTA, SE FIRMA DE CONFORMIDAD:</h6></b-col>
          </b-row>
        <div>
            <b-row>
                 <b-col cols="2"  ></b-col>
                <b-col cols="4"><b-img src="https://picsum.photos/300/150/?image=41" fluid alt="SOCIO ASEGURADO O REPRESENTANTE LEGAL"></b-img></b-col>
                <b-col cols="4"><b-img src="https://picsum.photos/300/150/?image=41" fluid alt="AJUSTADOR"></b-img></b-col>
            </b-row>
             <b-row>
                  <b-col cols="2" ></b-col>
                <b-col cols="4" class="text-center" >SOCIO ASEGURADO O REPRESENTANTE LEGAL</b-col>
                <b-col cols="4" class="text-center" >AJUSTADOR </b-col>
            </b-row> 
        </div>
           
    </div>
</template>

<script>
    export default {
        
    }
</script>

<style scoped>

</style>