<template>
    <div>
       <b-row>
             <b-col cols="12" class="text-center" ><h1>Aviso de Siniestro</h1> </b-col>
       </b-row>
       <b-row>
            <b-col cols="2">Tipo de Aviso: </b-col>
            <b-col cols="1"><ejs-radiobutton label='Muerte' name='default' checked=true></ejs-radiobutton></b-col>
            <b-col cols="2"><ejs-radiobutton label='Agravante de Riesgo'></ejs-radiobutton></b-col>
            <b-col cols="1"><ejs-radiobutton label='Otro'></ejs-radiobutton></b-col>
            <b-col cols="3"><input class="e-input" type="text" placeholder="Otro, Cual?" /></b-col>
          
        </b-row>
         <b-row>
            <b-col cols="2" sm="*">Via del Aviso: </b-col>
            <b-col cols="1"><ejs-radiobutton label='Telefono' name='default' checked=true></ejs-radiobutton></b-col>
            <b-col cols="1"><ejs-radiobutton label='Personal'></ejs-radiobutton></b-col>
            <b-col cols="1"><ejs-radiobutton label='Otro'></ejs-radiobutton></b-col>
             <b-col cols="3"><input class="e-input" type="text" placeholder="Otro, Cual?" /></b-col>
        </b-row>
        <b-row>
            <b-col cols="2" class="text-center">Fecha del Evento: </b-col>
            <b-col cols="2" class="text-center">Unidades Siniestradas: </b-col>
            <b-col cols="1"></b-col>
            <b-col cols="2" class="text-center">Tipo de Identificacion: </b-col>
            <b-col cols="2" class="text-center">Causa: </b-col>
            <b-col cols="2" class="text-center">Observacion: </b-col>
        </b-row>
        <b-row>
            <b-col cols="1">Procutor: </b-col>
            <b-col cols="1">Inspector: </b-col>
            <b-col cols="1">Reportadas: </b-col>
            <b-col cols="1">Inspeccion: </b-col>
            <b-col cols="3"></b-col>
            <b-col cols="1">Reportada: </b-col>
            <b-col cols="1">Verificada: </b-col>
            <b-col cols="2">Observacion: </b-col>
        </b-row>

         <b-row>
            <b-col cols="1"><input class="e-input" type="text" placeholder="Productor" /></b-col>
            <b-col cols="1"><input class="e-input" type="text" placeholder="Inspector" /></b-col>
            <b-col cols="1"><input class="e-input" type="text" placeholder="Reportadas" /></b-col>
            <b-col cols="1"><input class="e-input" type="text" placeholder="Inspeccion" /></b-col>
            <b-col cols="3"></b-col>
            <b-col cols="1"><input class="e-input" type="text" placeholder="Reportada" /></b-col>
            <b-col cols="1"><input class="e-input" type="text" placeholder="Verificada" /></b-col>
            <b-col cols="2"><input class="e-input" type="text" placeholder="Observacion" /></b-col>
        </b-row>
        
    </div>
</template>

<script>
    import Vue from "vue";
    import { TextBoxPlugin } from '@syncfusion/ej2-vue-inputs';
    Vue.use(TextBoxPlugin);

   import vueButton from "vue";
   import { RadioButtonPlugin } from "@syncfusion/ej2-vue-buttons";
   import { enableRipple } from '@syncfusion/ej2-base';

    enableRipple(true);
    vueButton.use(RadioButtonPlugin); 

    export default {}
</script>

<style scoped>
@import "../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../node_modules/@syncfusion/ej2-vue-inputs/styles/material.css";
@import "../node_modules/@syncfusion/ej2-buttons/styles/material.css";

.e-radio-wrapper {
  margin-top: 18px;
}

li {
  list-style: none;
}

</style>