<template>
   <div>
         <b-row>
            <b-col cols="12" class="text-center" ><h1>Aviso de siniestro por daños</h1> </b-col>
          </b-row>
            <b-row>
            <b-col cols="12" class="text-center" ><h4>Datos del siniestro</h4> </b-col>
          </b-row>
          <b-row>
            <b-col cols="12" class="text-center" >Declaraciones del asegurado: </b-col>
             <b-col><b-form-textarea id="declaracionAsegurado" size="sm" placeholder="Declaraciones del asegurado"></b-form-textarea></b-col>
          </b-row>
           <b-row>
            <b-col cols="12" class="text-center" ><h4>Observaciones Tecnicas</h4> </b-col>
          </b-row>
          <b-row>
            <b-col cols="12" class="text-center" >Causas que originaron el siniestro: </b-col>
             <b-col><b-form-textarea id="causasSiniestro" size="sm" placeholder="Causas origen siniestro"></b-form-textarea></b-col>
          </b-row>
          <b-row>
            <b-col cols="12" class="text-center" >Causas que originaron el siniestro: </b-col>
             <b-col><b-form-textarea id="causasSiniestro" size="sm" placeholder="Causas origen siniestro"></b-form-textarea></b-col>
          </b-row>
         

    </div>
</template>

<script>
    export default {
        
    }
</script>

<style scoped>

</style>