<template>
    <div>
         <b-row>
            <b-col cols="12" class="text-center" ><h1>Aviso de siniestro por daños</h1> </b-col>
          </b-row>
            <b-row>
            <b-col cols="12" class="text-center" ><h4>Datos del siniestro</h4> </b-col>
          </b-row>
          <b-row>
            <b-col cols="2" class="text-center" >Fecha del siniestro</b-col>
            <b-col cols="2" class="text-center" >Nombre del bien afectado</b-col>
            <b-col cols="2"  class="text-center">Cantidad</b-col>
            <b-col cols="2"  class="text-center">Caract. especificas</b-col>
            <b-col cols="2" class="text-center" >Suma asegurada</b-col>
          </b-row>
            <b-row>
            <b-col cols="1"><input class="e-input" type="text" placeholder="Siniestro" /></b-col>
            <b-col cols="1"><input class="e-input" type="text" placeholder="Aviso" /></b-col>
            <b-col cols="2"><input class="e-input" type="text" placeholder="Bien Afectado" /></b-col>
            <b-col cols="2"><input class="e-input" type="text" placeholder="Cantidad" /></b-col>
            <b-col cols="2"><input class="e-input" type="text" placeholder="Caract. especificas" /></b-col>
            <b-col cols="1"><input class="e-input" type="text" placeholder="Unitaria" /></b-col>
            <b-col cols="1"><input class="e-input" type="text" placeholder="Total" /></b-col>
        </b-row>
           <b-row>
            <b-col cols="12" class="text-center" ><h6>Imagenes</h6></b-col>
          </b-row>

    </div>
</template>

<script>
    export default {
        
    }
</script>

<style scoped>

</style>