<template>
    <div>
       <b-row>
            <b-col cols="12" class="text-center" ><h1>Aviso de Siniestro</h1> </b-col>
       </b-row>
       <b-row>
            <b-col cols="2" class="text-center" ><h5>Fecha </h5></b-col>
            <b-col cols="4" class="text-center"><h5>Caracteristicas</h5></b-col>
            <b-col cols="2" class="text-center"><h5>Sexo</h5></b-col>    
        </b-row>
         <b-row>
            <b-col cols="1" class="text-center">Defuncion </b-col>
            <b-col cols="1" class="text-center">Aviso</b-col>
            <b-col cols="2" class="text-center">Raza</b-col>
            <b-col cols="2" class="text-center">Color</b-col>
            <b-col cols="1" class="text-center">M</b-col>
            <b-col cols="1" class="text-center">H</b-col>
        </b-row>
         <b-row>
            <b-col cols="1"><input class="e-input" type="text" placeholder="Defuncion" /></b-col>
            <b-col cols="1"><input class="e-input" type="text" placeholder="Aviso" /></b-col>
            <b-col cols="2"><input class="e-input" type="text" placeholder="Raza" /></b-col>
            <b-col cols="2"><input class="e-input" type="text" placeholder="Color" /></b-col>
            <b-col cols="1"><ejs-radiobutton label='M'></ejs-radiobutton></b-col>
            <b-col cols="1"><ejs-radiobutton label='H'></ejs-radiobutton></b-col>
        </b-row>
         <b-row>
            <b-col cols="11" class="text-center"><h5>Identificacion</h5></b-col>
            <b-col cols="1" class="text-center"><h5> Suma asegurada</h5></b-col>
        </b-row>
         <b-row>
            <b-col cols="4" class="text-center">Descripcion</b-col>
            <b-col cols="2" class="text-center">Entrego</b-col>
            <b-col cols="5" class="text-center">Caract. Postmort.</b-col>
            <b-col cols="1" class="text-center">Tecnico</b-col>
        </b-row>
        <b-row>
            <b-col cols="4"><input class="e-input" type="text" placeholder="Descripcion" /></b-col>
            <b-col cols="1"><ejs-radiobutton label='Si'></ejs-radiobutton></b-col>
            <b-col cols="1"><ejs-radiobutton label='No'></ejs-radiobutton></b-col>
            <b-col cols="1"><ejs-checkbox label='1' :checked="true" :change="onChange"></ejs-checkbox></b-col>
            <b-col cols="1"><ejs-checkbox label='2' :checked="true" :change="onChange"></ejs-checkbox></b-col>
            <b-col cols="1"><ejs-checkbox label='3' :checked="true" :change="onChange"></ejs-checkbox></b-col>
            <b-col cols="1"><ejs-checkbox label='4' :checked="true" :change="onChange"></ejs-checkbox></b-col>
            <b-col cols="1"><ejs-checkbox label='5' :checked="true" :change="onChange"></ejs-checkbox></b-col>
            <b-col cols="1"><input class="e-input" type="text" placeholder="Suma Asegurada" /></b-col>
        </b-row>
          <b-row>
            <b-col cols="12" class="text-center"><h5>Imagenes</h5> </b-col>
        </b-row>

    </div>
</template>

<script>
import Vue from "vue";
import { CheckBoxPlugin } from "@syncfusion/ej2-vue-buttons";
import { RadioButtonPlugin } from "@syncfusion/ej2-vue-buttons";
Vue.use(CheckBoxPlugin);
Vue.use(RadioButtonPlugin);

    export default Vue.extend({
    methods: {
    onChange: function(args) {
      var checkboxObj = args.event.target.ej2_instances[0];
      checkboxObj.label = "CheckBox: " + args.checked;
    }
}
    })
  
</script>

<style lang="scss" scoped>

</style>