<template>
    <div styleClass="cajaCerrada" >
          <b-row>
           <b-col cols="12" styleClass="tituloBis" style="text-align:center;font-size: 15px;">Aviso de Siniestro </b-col>
          </b-row>
          <b-row>
            <b-col cols="1" styleClass="claroBis3L">Estado: </b-col>
            <b-col cols="2"><input class="e-input" type="text" placeholder="Estado" /></b-col>
            <b-col cols="3"></b-col>
            <b-col cols="2" sm="*">Fecha Aviso: </b-col>
            <b-col cols="2"><input class="e-input" type="text" placeholder="Fecha Aviso" /></b-col>
        </b-row>
        <b-row>
            <b-col cols="1">Municipio: </b-col>
            <b-col cols="2"><input class="e-input" type="text" placeholder="Municipio" /></b-col>
            <b-col cols="3"></b-col>
            <b-col cols="2" sm="*">Hora Aviso: </b-col>
            <b-col cols="2"><input class="e-input" type="text" placeholder="Fecha Aviso" /></b-col>
        </b-row>
        <b-row>
            <b-col cols="4" class="text-center" >Nombre del Asegurado: <input class="e-input" type="text" placeholder="Nombre del Asegurado" /></b-col>
            <b-col cols="2"></b-col>
            <b-col cols="2">Fecha Atencion: </b-col>
            <b-col cols="2"><input class="e-input" type="text" placeholder="Fecha Atencion" /></b-col>
        </b-row>
         <b-row>
            <b-col cols="1"></b-col>
            <b-col cols="1">No UPP: </b-col>
            <b-col cols="2"><input class="e-input" type="text" placeholder="UPP" /></b-col>
            <b-col cols="1">Especie: </b-col>
            <b-col cols="2"><input class="e-input" type="text" placeholder="Especie" /></b-col>
            <b-col cols="1">Funcion: </b-col>
            <b-col cols="2"><input class="e-input" type="text" placeholder="Funcion" /></b-col>
        </b-row>
        <b-row>
            <b-col cols="1"></b-col>
            <b-col cols="1">Ejercicio: </b-col>
            <b-col cols="2"><input class="e-input" type="text" placeholder="Ejercicio" /></b-col>
            <b-col cols="1">Aviso: </b-col>
            <b-col cols="2"><input class="e-input" type="text" placeholder="Aviso" /></b-col>
            <b-col cols="1">Constancia: </b-col>
            <b-col cols="2"><input class="e-input" type="text" placeholder="Contancias" /></b-col>
        </b-row>
        <b-row>
            <b-col cols="1"></b-col>
            <b-col cols="1">RFC: </b-col>
            <b-col cols="2"><input class="e-input" type="text" placeholder="RFC" /></b-col>
            <b-col cols="1">Telefono: </b-col>
            <b-col cols="2"><input class="e-input" type="text" placeholder="Telefono" /></b-col>
            <b-col cols="1">Titular: </b-col>
            <b-col cols="2"><input class="e-input" type="text" placeholder="Titular" /></b-col>
        </b-row>
        <b-row>
          <b-col cols="1">Titular: </b-col>
          <b-col cols="2"><input class="e-input" type="text" placeholder="Titular" /></b-col>
          <b-col cols="6" class="text-center" >Vigencia de la constancia: </b-col>
        </b-row>
        <b-row>
             <b-col cols="4"></b-col>
          <b-col cols="2"><input class="e-input" type="text" placeholder="Desde:" /></b-col>
          <b-col cols="2"><input class="e-input" type="text" placeholder="Hasta:" /></b-col>
        </b-row>
         <b-row>
            <b-col cols="4" class="text-center" >Nombre y domicilio del predio: <input class="e-input" type="text" placeholder="Nombre y domicilio del predio" /></b-col>
            <b-col cols="2"></b-col>
            <b-col cols="4" class="text-center" >Producto: <input class="e-input" type="text" placeholder="Producto" /></b-col>
        </b-row>


    </div>
</template>

<script>
    import Vue from "vue";
    import { TextBoxPlugin } from '@syncfusion/ej2-vue-inputs';
    Vue.use(TextBoxPlugin);
    

    export default {
        
    }
</script>

<style scoped>
@import "../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../node_modules/@syncfusion/ej2-vue-inputs/styles/material.css";


td.tituloBis {
	color: #000000;
	font-size: 14px;
	font-weight: bolder;
	font-family: Verdana, Geneva, Helvetica, Arial, sans-serif;
	letter-spacing: 3px;
	background: none;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 5px;
	text-decoration: none;
	line-height: 16px;
	display: compact;
	padding: 5px;
}

.subtitulo {
	color: #000000;
	background-color: #C5C5C5;
	font-size: 13px;
	font-weight: bolder;
	font-family: Verdana, Geneva, Helvetica, Arial, sans-serif;
}

.subtitulo2 {
	color: #000000;
	background-color: #C4C4C4;
	font-size: 11px;
	font-weight: bolder;
	font-family: Verdana, Geneva, Helvetica, Arial, sans-serif;
	
}

</style>