<template>
   <div>
          <b-row>
           <b-col cols="12" class="text-center" ><h1>Aviso de Siniestro</h1> </b-col>
          </b-row>
          <b-row>
            <b-col cols="1">Estado: </b-col>
            <b-col cols="2"><input class="e-input" type="text" placeholder="Estado" /></b-col>
            <b-col cols="3"></b-col>
            <b-col cols="2" sm="*">Fecha Aviso: </b-col>
            <b-col cols="2"><input class="e-input" type="text" placeholder="Fecha Aviso" /></b-col>
        </b-row>
        <b-row>
            <b-col cols="1">Municipio: </b-col>
            <b-col cols="2"><input class="e-input" type="text" placeholder="Municipio" /></b-col>
            <b-col cols="3"></b-col>
            <b-col cols="2" sm="*">Hora Aviso: </b-col>
            <b-col cols="2"><input class="e-input" type="text" placeholder="Fecha Aviso" /></b-col>
        </b-row>
        <b-row>
            <b-col cols="4" class="text-center" >Nombre del Asegurado: <input class="e-input" type="text" placeholder="Nombre del Asegurado" /></b-col>
            <b-col cols="2"></b-col>
            <b-col cols="2">Fecha Atencion: </b-col>
            <b-col cols="2"><input class="e-input" type="text" placeholder="Fecha de Atencion" /></b-col>
        </b-row>
        <b-row>
            <b-col cols="6"></b-col>
            <b-col cols="2">Hora de Atencion: </b-col>
            <b-col cols="2"><input class="e-input" type="text" placeholder="Hora de Atencion" /></b-col>
        </b-row>
         <b-row>
        
            <b-col cols="3">Nombre del Informante: </b-col>
            <b-col cols="4"><input class="e-input" type="text" placeholder="Nombre" /></b-col>
        </b-row>
        <b-row>
            <b-col cols="1"></b-col>
            <b-col cols="1">Ejercicio: </b-col>
            <b-col cols="2"><input class="e-input" type="text" placeholder="Ejercicio" /></b-col>
            <b-col cols="1">Aviso: </b-col>
            <b-col cols="2"><input class="e-input" type="text" placeholder="Aviso" /></b-col>
            <b-col cols="1">Constancia: </b-col>
            <b-col cols="2"><input class="e-input" type="text" placeholder="Contancias" /></b-col>
        </b-row>
        <b-row>
            <b-col cols="1"></b-col>
            <b-col cols="1">RFC: </b-col>
            <b-col cols="2"><input class="e-input" type="text" placeholder="RFC" /></b-col>
            <b-col cols="1">Telefono: </b-col>
            <b-col cols="2"><input class="e-input" type="text" placeholder="Telefono" /></b-col>
            <b-col cols="1">Titular: </b-col>
            <b-col cols="2"><input class="e-input" type="text" placeholder="Titular" /></b-col>
        </b-row>
        <b-row>
          <b-col cols="1">Titular: </b-col>
          <b-col cols="2"><input class="e-input" type="text" placeholder="Titular" /></b-col>
          <b-col cols="6" class="text-center" >Tipo de Aviso </b-col>
        </b-row>
        <b-row>
            <b-col cols="4"></b-col>
            <b-col cols="1"><ejs-radiobutton label='Siniestro' name='default' checked=true></ejs-radiobutton></b-col>
            <b-col cols="2"><ejs-radiobutton label='Agravante de Riesgo'></ejs-radiobutton></b-col>
            <b-col cols="1"><ejs-radiobutton label='Otro'></ejs-radiobutton></b-col>
            <b-col cols="3"><input class="e-input" type="text" placeholder="Otro, Cual?" /></b-col>
          
        </b-row>
         <b-row>
            <b-col cols="4" class="text-center" >Nombre y domicilio del predio: <input class="e-input" type="text" placeholder="Nombre y domicilio del predio" /></b-col>
            <b-col cols="2"></b-col>
            <b-col cols="4" class="text-center" >Via del Aviso: <input class="e-input" type="text" placeholder="Producto" /></b-col>
        </b-row>
         <b-row>
            <b-col cols="4"></b-col>
            <b-col cols="1"><ejs-radiobutton label='Telefonico' name='default' checked=true></ejs-radiobutton></b-col>
            <b-col cols="2"><ejs-radiobutton label='Personal'></ejs-radiobutton></b-col>
            <b-col cols="1"><ejs-radiobutton label='Otro'></ejs-radiobutton></b-col>
            <b-col cols="3"><input class="e-input" type="text" placeholder="Otro, Cual?" /></b-col>
        </b-row>
         <b-row>
          <b-col cols="9" class="text-center" ><h6>Datos del Siniestro </h6></b-col>
        </b-row>
         <b-row>
            <b-col cols="1">Fecha: </b-col>
            <b-col cols="2"><input class="e-input" type="text" placeholder="Fecha" /></b-col>
            <b-col cols="3">Descripcion del bien afectado: </b-col>
            <b-col><b-form-textarea id="descripcion" size="sm" placeholder="Descripcion"></b-form-textarea></b-col>
        </b-row>
         <b-row>
            <b-col cols="2">Numero de bienes: </b-col>
            <b-col cols="2"><input class="e-input" type="text" placeholder="Numero Bienes" /></b-col>
            <b-col cols="2">Causa del siniestro: </b-col>
            <b-col><b-form-textarea id="causaSiniestro" size="sm" placeholder="Causa Siniestro"></b-form-textarea></b-col>
        </b-row>


    </div>
</template>

<script>
    import Vue from "vue";
    import { TextBoxPlugin } from '@syncfusion/ej2-vue-inputs';
    Vue.use(TextBoxPlugin);

   import vueButton from "vue";
   import { RadioButtonPlugin } from "@syncfusion/ej2-vue-buttons";
   import { enableRipple } from '@syncfusion/ej2-base';

    enableRipple(true);
    vueButton.use(RadioButtonPlugin); 

    export default {}
</script>

<style scoped>
@import "../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../node_modules/@syncfusion/ej2-vue-inputs/styles/material.css";
@import "../node_modules/@syncfusion/ej2-buttons/styles/material.css";

</style>